.services {
    aside {
        display: none;

        .callout {
            border-top: 0 !important;
            border-bottom: 0 !important;
        }
    }
}

/*   M E D I A   Q U E R I E S   */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .App {
        .services {
        }
    }
}
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    .App {
        .services {
            aside {
                display: inline-block;
                width: 20%;
            }
        }
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .App {
        .services {
        }
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .App {
        .services {
        }

    }
  }