.products {
    padding-bottom: 3em;
    
    .icons {
        text-align: center;
        
        margin-top: 1em;

        .icon-wrapper {
            background-color: #fff;
        }
    }
    .button { 
        display: inline-block; 
        // border: 1px solid red; 
        margin: 5px 5px 5px 5px;

        a {
            display: inline-block;
        }
    }

    .versicobutton {
        background: url("/assets/images/products/versicobutton.gif") no-repeat 0px 0px;

        a { 
            height: 77px;
            width: 157px;
        }
    }

    .gafbutton {
        background: url("/assets/images/products/gafbutton.gif") no-repeat 0px 0px;
        a {
            height: 80px;
            width: 88px;
        }
    }

    .carlislebutton {
        background: url("/assets/images/products/carlislebutton.gif") no-repeat 0px 0px;
        a {
            height: 47px;
            width: 156px;
        }
    }

    .firestonebutton {
        background: url("/assets/images/products/firestonebutton.gif") no-repeat 0px 0px;
        a{
            height: 47px;
            width: 191px;
        }
        
    }

    .johnsmanvillebutton {
        background: url("/assets/images/products/johnsmanvillebutton.gif") no-repeat 0px 0px;
        a {
            height: 85px;
            width: 121px;
        }
    }

    .dmibutton {
        background: url("/assets/images/products/dmibutton.gif") no-repeat 0px 0px;
        a { 
            height: 68px;
            width: 169px;
        }
    }

    .chemlinkbutton {
        background: url("/assets/images/products/chemlinkbutton.gif") no-repeat 0px 0px;
        a {
            height: 51px;
            width: 177px;
        }
    }

    .tfcbutton {
        background: url("/assets/images/products/tfcbutton.gif") no-repeat 0px 0px;
        a {
            height: 57px;
            width: 153px;
        }
    }

    .karnakbutton {
        background: url("/assets/images/products/karnakbutton.gif") no-repeat 0px 0px;
        a {
            height: 65px;
            width: 65px;
        }
    }

    .georgiabutton {
        background: url("/assets/images/products/georgiabutton.gif") no-repeat 0px 0px;
        a {
            height: 65px;
            width: 164px;
        }
    }

    .bilcobutton {
        background: url("/assets/images/products/bilcobutton.gif") no-repeat 0px 0px;
        a{ 
            height: 56px;
            width: 184px;
        }
    }

    .mulehidebutton {
        background: url("/assets/images/products/mulehidebutton.gif") no-repeat 0px 0px;
        a {
            height: 85px;
            width: 86px;
        }
    }

    .derbigumbutton {
        background: url("/assets/images/products/derbigumbutton.gif") no-repeat 0px 0px;
        a {
            height: 65px;
            width: 177px;
        }
    }

    .sopremabutton {
        background: url("/assets/images/products/sopremabutton.gif") no-repeat 0px 0px;
        a {
            height: 72px;
            width: 190px;
        }
    }

    .tremcobutton {
        background: url("/assets/images/products/tremcobutton.gif") no-repeat 0px 0px;
        a {
            height: 44px;
            width: 202px;
        }
    }

    .hunterbutton {
        background: url("/assets/images/products/hunterbutton.gif") no-repeat 0px 0px;
        a {
            height: 77px;
            width: 101px;
        }
    }

    .bitecbutton {
        background: url("/assets/images/products/bitecbutton.gif") no-repeat 0px 0px;
        a {
            height: 74px;
            width: 133px;
        }
    }

    .omgbutton {
        background: url("/assets/images/products/omgbutton.gif") no-repeat 0px 0px;
        a {
            height: 69px;
            width: 131px;
        }
    }

    .portalsbutton {
        background: url("/assets/images/products/portalsbutton.gif") no-repeat 0px 0px;
        a {
            height: 54px;
            width: 244px;
        }
    }

    .itwbutton {
        background: url("/assets/images/products/itwbutton.gif") no-repeat 0px 0px;
        a { 
            height: 66px;
            width: 144px;
        }
    }
}