.safety {
    padding-bottom: 3em;
    
    .safety-logos {
        div { 
            display: block;
            margin: 1em 0;
            max-width: 90%;
            img{
                max-width: 100%;
            }
        }
    }
}

/*   M E D I A   Q U E R I E S   */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .App {
    
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    .App {

    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .App {

    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .App {

    }
}
